.ain {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-top: 1px solid var(--pumice, #CACACA);
	border-bottom: 1px solid var(--pumice, #CACACA);
}

.ain-player h3,
.ain-player p,
.ain-player span,
.ain-player button,
.ain-player a {
	color: var(--black, black);
	line-height: 1.2;
}

.ain-player .meta {
	font-size: 1rem;
}

@media (hover: hover) {
	.ain-player__icon:hover svg {
		fill: var(--bright);
	}

	.ain-player__speed:hover span {
		color: var(--bright);
		border-bottom: 1px solid var(--bright);
	}
}

@media (max-width: 350px) {
	.ain {
		padding: 10px 10px 7px;
	}
}

@media (min-width: 768px) {
	.ain {
		padding: 20px 0;
	}
}

/**********
 * PLAYER *
 **********/
/******* slider mixins: seek & volume *******/
.ain-player {
	--played: 0%;
	--buffered: 0%;
	--volume: 100%;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

@media (max-width: 350px) {
	.ain-player {
		padding-bottom: 5px;
	}
}

.ain-player button {
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

.ain-player button:focus {
	outline-color: var(--bright);
}

.ain-player input[type="range"] {
	padding: 0;
	height: 5px;
	border-radius: 2px;
	-webkit-appearance: none;
	cursor: pointer;
}

.ain-player__icon--small {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 5px;
}

.ain-player__icon--small svg {
	width: 20px;
	height: 20px;
}

.ain-player__icon--large svg {
	width: 35px;
	height: 35px;
}

.ain-player__icon svg {
	display: block;
	fill: var(--black, black);
}

@media (max-width: 350px) {
	.ain-player__icon--large svg {
		width: 30px;
		height: 35px;
	}
}

.ain-player__intro {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
	transition: opacity 300ms ease-out;
	z-index: 1;
}

.ain-player__cta {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.ain-player__cta span {
	display: block;
	text-align: left;
}

.ain-player__cta__icon {
	margin-right: 15px;
}

.ain-player__cta__msg {
	display: flex;
	align-items: center;
}

.ain-player__cta__msg-text {
	font-family: Moderat, Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	transition: color 150ms ease-out;
}

.ain-player__cta__msg-length.meta {
	color: var(--ash, #555555);
	margin-left: 10px;
	transform: translateY(1px);
}

.ain-player .ain-player__about {
	color: var(--ash, #555555);
	font-size: 0.9rem;
	line-height: 1;
}

@media (hover: hover) {
	.ain-player__cta:hover svg {
		fill: var(--bright);
	}

	.ain-player__cta:hover .ain-player__cta__msg-text {
		color: var(--bright);
		border-bottom: 1px solid var(--bright);
		transform: translateY(.5px);
	}

	.ain-player .ain-player__about:hover {
		color: var(--bright);
		border-bottom-color: var(--bright);
	}
}

.ain-player__controls {
	display: grid;
	grid-template-areas: "play seek seek seek seek seek seek" "play bwd fwd space time volume speed";
	grid-template-columns: repeat(3, auto) 1fr repeat(3, auto);
	grid-row-gap: 5px;
	align-items: center;
	width: 100%;
	opacity: 1;
	transition: opacity 300ms ease-out;
}

.ain-player__play {
	grid-area: play;
	align-self: start;
	margin-right: 15px;
}

.ain-player__skip {
	transform: translateX(-5px);
}

.ain-player__skip-bwd {
	grid-area: bwd;
}

.ain-player__skip-fwd {
	grid-area: fwd;
}

.ain-player__seek {
	grid-area: seek;
	position: relative;
	width: 100%;
	min-width: 50px;
	background-color: var(--ash, #555555);
	transition: width 150ms ease-out;
}

.ain-player__seek::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transform: scale(1);
	transition: all 150ms ease-in;
}

.ain-player__seek::-moz-range-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transform: scale(1);
	transition: all 150ms ease-in;
}

.ain-player__seek::-ms-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transform: scale(1);
	transition: all 150ms ease-in;
}

.ain-player__seek:active::-webkit-slider-thumb {
	opacity: 1;
	transform: scale(1.2);
}

.ain-player__seek:active::-moz-range-thumb {
	opacity: 1;
	transform: scale(1.2);
}

.ain-player__seek:active::-ms-thumb {
	opacity: 1;
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.ain:not(.ain--downpage) .ain-player__controls {
		grid-template-areas: "play bwd fwd seek time volume speed";
	}

	.ain:not(.ain--downpage) .ain-player__seek {
		margin: 0 15px 0 5px;
		width: calc(100% - 20px);
	}
}

@media (hover: hover) {
	.ain-player__seek:hover::-webkit-slider-thumb {
		opacity: 1;
		transform: scale(1.2);
	}

	.ain-player__seek:hover::-moz-range-thumb {
		opacity: 1;
		transform: scale(1.2);
	}

	.ain-player__seek:hover::-ms-thumb {
		opacity: 1;
		transform: scale(1.2);
	}
}

.ain-player__seek::before,
.ain-player__seek::after {
	content: "";
	position: absolute;
	height: 5px;
	left: 0;
	top: 0;
	border-radius: 2px;
	cursor: pointer;
}

.ain-player__seek::before {
	width: var(--buffered);
	background-color: var(--white, white);
	opacity: .5;
}

.ain-player__seek::after {
	width: var(--played);
	background-color: var(--black, black);
}

.ain-player__volume {
	grid-area: volume;
	position: relative;
	margin: 0 5px;
	text-align: right;
}

.ain-player__volume__range {
	background-color: var(--body, white);
	position: absolute;
	top: 0;
	right: 35px;
	width: 0;
	height: 100%;
	display: flex;
	align-items: center;
	transform: scaleX(-1);	/* right-to-left slider */
	transition: width 150ms ease-out;
	overflow: hidden;
}

.ain-player__volume__range input {
	position: relative;
	background-color: var(--pumice, #CACACA);
}

.ain-player__volume__range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
}

.ain-player__volume__range input::-moz-range-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
}

.ain-player__volume__range input::-ms-thumb {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--black, black);
	border-radius: 50%;
	cursor: pointer;
}

.ain-player__volume__range input::after {
	content: "";
	width: var(--volume);
	background-color: var(--black, black);
	position: absolute;
	height: 5px;
	left: 0;
	top: 0;
	border-radius: 2px;
	cursor: pointer;
}

.ain-player__volume__button {
	transform: translateY(-1px);
}

.ain-player__volume.active .ain-player__volume__range {
	width: 100px;
}

.ain:not(.ain--downpage) .ain-player__volume.active + .ain-player__seek {
	width: calc(100% - 50px);
}

@media (hover: hover) {
	.ain-player__volume:hover .ain-player__volume__range {
		width: 100px;
	}

	.ain:not(.ain--downpage) .ain-player__volume:hover + .ain-player__seek {
		width: calc(100% - 50px);
	}
}

.ain-player__speed {
	grid-area: speed;
	font-size: 1.2rem;
	line-height: 25px;
	text-align: left;
	min-width: 37px;
}

.ain-player__time {
	grid-area: time;
	color: var(--ash, #555555);
}

@media (max-width: 350px) {
	.ain-player__play {
		margin-right: 10px;
	}

	.ain-player__skip {
		transform: translateX(-9px);
	}

	.ain-player__skip svg {
		width: 20px;
		height: 20px;
	}

	.ain-player__volume.active .ain-player__volume__range {
		width: 85px;
	}
}

@media (max-width: 350px) and (hover: hover) {
	.ain-player__volume.active:hover .ain-player__volume__range {
		width: 85px;
	}
}

@supports (-webkit-touch-callout: none) {
	.ain-player__volume {
		display: none;
	}

	.ain-player__speed {
		margin-left: 10px;
	}
}

.ain-player[data-active="false"] .ain-player__controls {
	opacity: 0;
}

.ain-player[data-active="true"] .ain-player__intro {
	opacity: 0;
	pointer-events: none;
}

.ain-player[data-play="pause"] svg#pause-icon {
	display: none;
}

.ain-player[data-play="play"] svg#play-icon {
	display: none;
}

.ain-player[data-volume="on"] svg#muted-icon {
	display: none;
}

.ain-player[data-volume="off"] svg#unmuted-icon {
	display: none;
}

/************************
 * ARTICLE BLOCK PLAYER *
 ************************/
@media (min-width: 768px) {
	.ain-player__wrapper {
		padding: 20px 30px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.ain-player__speed,
	.ain-player__time {
		font-size: 1.1rem;
	}
}

/*******************
 * DOWNPAGE PLAYER *
 *******************/
.ain.ain--downpage {
	background-color: var(--body, white);
	position: fixed;
	display: block;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 20px 20px 30px;
	border-top: 1px solid var(--pumice, #CACACA);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	z-index: 100;
	animation: fade-in 500ms ease forwards;
}

.ain.ain--downpage.ain--original {
	animation: fade-out 500ms ease forwards;
}

/* .ain.ain--downpage.ain--fadeout {
	opacity: 0;
	animation: none;
	pointer-events: none;
} */

@media (min-width: 640px) {
	.ain.ain--downpage {
		padding: 20px 0;
	}
	
	.ain.ain--downpage .ain-player {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.ain.ain--downpage {
		border-radius: 0px;
	}
}

@media (min-width: 1200px) {
	.ain.ain--downpage {
		width: calc((min(100vw, 1320px) - 640px) / 2 - 40px);
		left: 20px;
		bottom: 40px;
		padding: 20px;
		border: 1px solid var(--pumice, #CACACA);
		border-radius: 10px;
	}

	.ain.ain--downpage .ain {
		padding: 20px 15px 15px;
	}

	.ain.ain--downpage .ain-player__icon--small {
		width: 27px;
	}

	.ain.ain--downpage .ain-player__volume {
		margin-right: -5px;
	}

	.ain.ain--downpage .ain-player__volume__range {
		right: 30px;
	}

	.ain.ain--downpage .ain-player__speed {
		display: none;
	}
}

@media (min-width: 1320px) {
	.ain.ain--downpage {
		left: calc((100vw - 1320px) / 2 + 20px);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
